<div id="mySidebar" class="sidebar">
  <%= link_to "Home", root_path %>
  <%= link_to "Friends", friendships_path %>
  <%= link_to "Account", current_user %>
</div>
<div id="button">
  <button class="openbtn" onclick="
  if (document.getElementById('mySidebar').style.width == '250px'){
    document.getElementById('mySidebar').style.width = '0px';
    document.getElementById('main').style.marginLeft = '50px';
  } else {
    
    document.getElementById('mySidebar').style.width = '250px'; 
    document.getElementById('main').style.marginLeft = '250px';
  }
  ">&#9776;</button>
</div>

<div id="main" style="padding-top: 0px; margin-left:50px">
    
<p id="alert"><%= alert %></p>

<% if current_user == @user %>
  <h1>Editing User</h1>
  <%= render 'form', user: @user %>
  
  <%= link_to 'Back', @user %>
  
<% else %>
  <p>You cannot edit other users.</p>
<% end %>

</div>