<div id="mySidebar" class="sidebar">
  <%= link_to "Home", root_path %>
  <%= link_to "Friends", friendships_path %>
  <a href="#">Compare</a>
  <a href="#">Settings</a>
  <%= link_to "Account", current_user %>
</div>
<div id="button">
  <button class="openbtn" onclick="
  if (document.getElementById('mySidebar').style.width == '250px'){
    document.getElementById('mySidebar').style.width = '0px';
    document.getElementById('main').style.marginLeft = '50px';
  } else {
    
    document.getElementById('mySidebar').style.width = '250px'; 
    document.getElementById('main').style.marginLeft = '250px';
  }
  ">&#9776;</button>
</div>

<div id="main" style="padding-top: 0px; margin-left:50px">
    
<p id="alert"><%= alert %></p>
    
<h1>Home</h1>
<p>
    <% if current_user %>
        Logged in as <%= current_user.name %>
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
    <% end %>
</p>
<p>Your schedule (along with almost everything else) will be here</p>
</div>