<div id="mySidebar" class="sidebar">
  <%= link_to "Home", root_path %>
  <%= link_to "Friends", friendships_path %>
  <%= link_to "Account", current_user %>
</div>
<div id="button">
  <button class="openbtn" onclick="
  if (document.getElementById('mySidebar').style.width == '250px'){
    document.getElementById('mySidebar').style.width = '0px';
    document.getElementById('main').style.marginLeft = '50px';
  } else {
    
    document.getElementById('mySidebar').style.width = '250px'; 
    document.getElementById('main').style.marginLeft = '250px';
  }
  ">&#9776;</button>
</div>

<div id="main" style="padding-top: 0px; margin-left:50px">
    
<p id="alert"><%= alert %></p>

<h1>New Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', root_path %>

</div>