<div id="mySidebar" class="sidebar">
  <%= link_to "Home", root_path %>
  <%= link_to "Friends", friendships_path %>
  <%= link_to "Account", current_user %>
</div>
<div id="button">
  <button class="openbtn" onclick="
  if (document.getElementById('mySidebar').style.width == '250px'){
    document.getElementById('mySidebar').style.width = '0px';
    document.getElementById('main').style.marginLeft = '50px';
  } else {
    
    document.getElementById('mySidebar').style.width = '250px'; 
    document.getElementById('main').style.marginLeft = '250px';
  }
  ">&#9776;</button>
</div>

<div id="main" style="padding-top: 0px; margin-left:50px">
    
<p id="alert"><%= alert %></p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @event.length %>
</p>

<p>
  <strong>Repeat daily:</strong>
  <%= @event.repeat_daily %>
</p>

<p>
  <strong>Repeat weekly:</strong>
  <%= @event.repeat_weekly %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', root_path %>

</div>