<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="
  if (document.getElementById('mySidebar').style.width == '250px'){
    document.getElementById('mySidebar').style.width = '0px';
    document.getElementById('main').style.marginLeft = '50px'
  }
  ">&times;</a>
  <a href="#">Compare</a>
  <%= link_to "Friends", friendships_path %>
  <a href="#">Settings</a>
  <a href="#">Account</a>
</div>
<div id="button">
  <button class="openbtn" onclick="
  if (document.getElementById('mySidebar').style.width == '250px'){
    document.getElementById('mySidebar').style.width = '0px';
    document.getElementById('main').style.marginLeft = '50px';
  } else {
    
    document.getElementById('mySidebar').style.width = '250px'; 
    document.getElementById('main').style.marginLeft = '250px';
  }
  ">&#9776;</button>
</div>

<div id="main" style="padding-top: 0px; margin-left:50px">

<p id="notice"><%= notice %></p>

<h1>Your Friends</h1>

<ul>
<% for friendship in current_user.friendships %>
    <li>
      <%= h friendship.friend.name %>
      <%= link_to "Remove friend", friendship, :method => :delete %>
    </li>
<% end %>  
</ul>
<p>
  <%= link_to "Add friends", users_path %>
</p>

</div>
